

// .symptom-card{
//     // justify-content: space-around;
//     // display: flex;
    
    
// }

.card1{
margin-top: 25px;

}
.box-right{
   height: 450px;
    /* border:.5px solid #5A9693; */
    //  margin-right: 60px; 
    background-color: #deeae9;
    box-shadow: 5px 5px #e6e4e4;
    border-radius: 5px;
    
}
.symptom-card-text{
    
    margin-bottom: 15px;
}

.btn-1{
    margin-top: 346px;
    float:right;
}